.sidebar__menu {
  position: relative;
}

.sidebar__menu__item {
  width: 100%;
  height: 38px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Suisse Intl;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 0px;
  color: #000000;
  padding: 0px 0px 0px 5px !important;
  margin: 0px 0px 6px 0px !important;
  cursor: pointer;
  border-radius: 6px !important;
}
.sidebar__menu__item.active {
  font: normal normal 900 14px Suisse Intl;
  letter-spacing: 0px;
  transition-delay: 0.2s;
}
.sidebar__menu__item__icon {
  margin-right: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: invert(100); */
}
.light-mode .sidebar__menu img {
  filter: invert(100) !important;
}

.light-mode .sidebar__menu__item__text {
  color: #ffffff !important;
}

.light-mode .sidebar__menu__item {
  color: #ffffff !important;
}

.sidebar__menu__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #0000001f 0% 0% no-repeat padding-box;
  z-index: 3;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
}

.sidebar__menu__indicator_none {
  display: none;
}

.sidebar-company-logo {
  width: 50%;
  height: 100%;
}

.sidebar-logo-box {
  position: absolute;
  width: 100%;
  bottom: 1%;
  height: 100px;
}

.sidebar__menu__item__text {
  z-index: 4;
}

.sidebar__menu__item__icon {
  z-index: 4;
  color: #000000;
}

.sub-option-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-family: Suisse Intl;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 0px;
  color: #000000;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}

.sub-option-item-header {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-family: Suisse Intl;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 0px;
  color: #000000;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}

.sub-option-icon {
  z-index: 4;
  margin-left: auto;
  margin-right: 10px;
  transition: all 0.3s;
}

.sub-option-icon-rotate {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.sidebar-icon-open {
  transition: all 0.3s;
  cursor: pointer;
}
.light-mode .sidebar-icon-open{
  transition: all 0.3s;
  cursor: pointer;
  filter: invert(100);
}

.sidebar-icon-close {
  transform: rotate(180deg);
  transition: all 0.3s;
  cursor: pointer;
}
.light-mode .sidebar-icon-close{
  transform: rotate(180deg);
  transition: all 0.3s;
  cursor: pointer;
  filter: invert(100);
}


.sidebar__menu__item__text::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.light-mode .tabpanel{
  background-color:#2D2E2D ;
}
.light-mode .header-drop-icon-box {
  color: #fcfcfc;
}

.light-mode .header-text2 {
  color: #ffffff !important;
}

.light-mode .MuiTab-root{
  color: #ffffff;
}

.light-mode .MuiTabs-scrollButtons {
  color: #ffffff;
  opacity: 1; /* Ensures scroll buttons are visible */
}

.light-mode .MuiTabs-scrollButtons .Mui-disabled {
  opacity: 0.5; /* Adjust for disabled buttons */
}
/* Light mode styling for TextField */
.light-mode input::placeholder {
  color: #fff; /* White placeholder text */
}

.light-mode .MuiInputBase-root {
  color: #fff; /* White text when typing */
  background-color: #1E1F1E !important;
}


/* Light mode styling for the Search Icon */
.light-mode-icon {
  color: #fff; /* White icon */
}
