$color-brownie: #484848;
$color-black: #17232c;
$color-dark-blue: #1f4965;
$color-facebook-blue: #3b5998;
$color-border-color:#666;	
$color-border-bottom: #ebebeb;	
$color-bg-porcelain: #e8e9ea;	
$color-stroke:#d6d6d6;	
$color-text-grayish-blue:#b3b6bd;	
$color-stroke-rgb: rgb(77, 98, 110);
$color-bg-med-blue:#e7f2fa;
$color-gray: #707070;
$color-white: #ffffff;
$color-pure-white: #fff;
$color-grey: #888888;
$color-pink-swan: #b8b8b8;
$color-blue-grey:#516575;
$color-thick-grey: #b3b3b3;
$color-text-success:#28a745;
$color-badge-warning:#ffc107;
$color-badge-lightGreen:#13c964;
$color-ant-picker-header-btn: rgba(0, 0, 0, 0.25);
$color-green: #2d9483;
$color-red: #ff0000;
$color-green-pale:#5ba196;
$color-plane-green: #2d9483;
$color-border-color:#80bdff;	
$color-background-color:#e7f2fa;	
$color-badge-warning:#ffc107;	
$color-badge-lightGreen:#13c964;	
$color-ant-picker-header-btn: rgba(0, 0, 0, 0.25);
$color-mandy: #d84e59;
$color-cancel: #cdcdcd;
$color-sortBy-before: #666;
$color-green-tags: #009937;
$color-grey-hover:rgba(0, 0, 0, 0.04);
$color-employee-indicator: #66cdaa;
$color-radio-pink: #f50057;
$color-grey2: #808080;
$color-grey-3: #f0f0f0;
$color-lavender: #e6e6e9;
$color-night-rider: #333333;
$color-date-picker: #1890ff;
$color-sky-blue: skyblue;
$color-date-light-blue: #e6f7ff;
$color-cinnabar: #e94c23;
$color-button-disabled: #6c757d;
$color-background-color: #545b62;
$color-cloud-burst: #3a4354;
$color-dark-cerulean: #0b4b7d;
$color-label-blue: #1497ea;
$color-grey-chateau: #979ca6;
$color-solitude: #f1f2f4;
$color-azure: #f3f4f4;  
$color-link-water: #cad0d5;
$color-nepal: #a0abb4;
$color-dark-gray: #a9a9a9;
$color-lightBlue: #44ade3;
$color-dark-blue: #3a4354;
$color-ink: #1e2b37;
$color-white-smoke: #f8f8f8;
$color-amethyst-smoke: #979197;
$color-whisper: #e6e6e6;
$color-dodger-blue: #1087ff;
$color-navy-blue: #006edc;
$color-pale-cornflower-blue: #a9d4ff;
$color-maya-blue: #76baff;
$color-shalimar: #ffffa9;
$color-laser-lemon: #ffff76;
$color-free-speech-red: #d10000;
$color-bismark: #506575;
$color-ghost-white: #f2f3fa;
$color-storm-grey: #7c7d81;
$color-alizarin: #ed1c24;
$color-ghost: #bcbcbd;
$color-hawkes-blue: #d8dae2;
$color-slate-grey: #767e8c;
$color-manatee: #888f9d;
$color-hawkes-blue2: #dee0e8;
$color-whisper: #e7e7e7;
$color-nobel: #9a9a9a;
$color-buffer: #f3f9fc;
$color-cream-white:#fffadf;
$color-bismark2: #516575;
$color-neon-blue: #5762ef;
$color-grey-30: rgba(58, 67, 84, 0.3);
$color-grey-12: rgba(0, 0, 0, 0.125);
$color-link-water: #ced4da;
$color-pattens-blue: #e1eff7;
$color-label-primary: #0071bc;
$color-label-dark-primary: #3f51b5;

$color-label-success: #54c500;
$color-label-warning: #f15a24;
$color-label-info: #00a99d;
$color-label-default: #808080;
$color-label-danger: #dc3545;
$color-label-alert: #f44336;
$color-export-header: #f7f7f7;
$color-thin-blue: #f3f9fc;
$color-red-gray: #c6c3c3;
$color-blue-zodiac: #3a4354;
$color-grey-light: #eef1f6;
$color-gray-chateau: #9da2ab;
$color-heather: #bbbdbe;
$color-mischka: #a9b0b9;
$color-light-blue: #f3f9fc;
$color-mischka2: #a5aab0;
$dark-grey: #9d9d9e;
$color-navbar-border-bottom : #a5a9b1;
$color-bg-ash: #fcfcfc;
$color-navbar-border : #a5a9b1;
$color-rect: #4e5664;
$color-covid-info-text: rgb(53, 64, 82);
$color-text-regular:rgba(0, 0, 0, 0.85);
$color-horizantal-line : #7c7d81;
$color-amber : #ffbf00;
$color-update : #007bff;
$color-table-head : #eef1f6;
$color-zodiac : #343A40 ;
$color-black-switch : #000; 
$color-text-blue: #2691ec;
$color-lightgray-05: rgba(0, 0, 0, 0.05);
$ws-color:rgba(0, 0, 0, 0.85);
//Bootstrap colors
$color-bs-gray:#6c757d;
$color-bs-success:#28a745;
$color-bs-danger:red;
$color-bs-warning:blue;
//MUI
$color-radio:rgba(0, 0, 0, 0.54);
// Theme
$theme-primary: var(--theme-primary, $color-cloud-burst);
$theme-secondary: var(--theme-secondary, $color-dark-cerulean);

//===============================================================================
// Colors
$color-sortBy-before: #666;
$color-grey-3: #f0f0f0;
$color-brownie: #484848;
$color-bg-ash: #fcfcfc;
$color-bg-ash: #fcfcfc;
$color-card-bg-blue: #e7f2fa;
$color-text-grayish-blue: #b3b6bd; 
$color-CircularProgressbar-trail: #d6d6d6;
$color-border-bottom: #a8acb4;
$color-bg-alice-blue: #e8f2f9;
$color-bg-rootselected: #c2ddfb;
$color-bg-diabled: #f5f5f5;
$color-diabled-dates: rgba(0, 0, 0, 0.25);
$color-bg-porcelain : #e8e9ea ;
$color-tag-status-info: #91d5ff;
$color-tag-status-background: #ddecf5;
$color-tag-status-text: #007cc3;
$color-bg-grey : #fafafa;
$color-badge-primary: #0d83c9;
$color-tag-active-bg: #f6ffed;
$color-tag-active-border: #b7eb8f;
$color-tag-danger-bg: #fff1f0;
$color-tag-danger-border: #ffa39e;
$color-tag-warning-text: #ffc107;
$color-tag-warning-bg: #fff7e6;
$color-tag-warning-border: #ffd591;
$color-CircularProgressbar-path: rgb(77, 98, 110);
$color-text-red: #ff1e32;
$color-bg-lavender-blush: #fcf1f5;
$color-sites-list-border: #a9a9a980;
$color-black: #17232c;
$color-dark-blue: #1f4965;
$color-facebook-blue: #3b5998;
$color-border-white: #dee2e6;
$color-boredr-grey:#7a7a7a;
$color-gray: #707070;
$color-white: #ffffff;
$color-pure-white: #fff;
$color-grey: #888888;
$color-pink-swan: #b8b8b8;
$color-blue-grey:#516575;
$color-nav-active: #1582c8;
$color-red-tag: #ec5824;
$color-card-bg-blue: #e7f2fa;
$color-text-grayish-blue: #b3b6bd; 
$color-CircularProgressbar-trail: #d6d6d6;
$color-border-bottom: #a8acb4;
$color-bg-alice-blue: #e8f2f9;
$color-CircularProgressbar-path: rgb(77, 98, 110);
$color-text-red: #ff1e32;
$color-bg-lavender-blush: #fcf1f5;
$color-sites-list-border: #a9a9a980;
$color-thick-grey: #b3b3b3;
$color-plane-green: #2d9483;
$color-pure-black:#0b0c14;
$color-russian-black:#24252c;
$color-dark-cyan:#254742;
$color-gray-light-black: #374152;
$color-border-grey: #dadada;
$color-icon-fill: #4c4c4c;
$color-placeholder-jodit: #a5a5a5;
$color-bg-box: #f9f9f9;
$color-light-green: #d3f1ed;
$color-mandy: #d84e59;
$color-cancel: #cdcdcd;
$color-react-burst: #4e5664;
$color-grey2: #808080;
$color-lavender: #e6e6e9;
$color-spinner-white: #f8f9fa;
$color-night-rider: #333333;
$color-dark-black: #000000 ;
$color-dark-grey: rgb(48, 47, 47);
$color-dark-blue: #3a4354;
$color-redish-black: #140b0e;
$color-cinnabar: #e94c23;
$color-text-success:#28a745;
$color-black-50 : #000; 
$color-cloud-burst: #3a4354;
$color-dark-cerulean: #0b4b7d;
$color-label-blue: #1497ea;
$color-grey-chateau: #979ca6;
$color-bg-rootselected: #c2ddfb;
$color-grey-30: rgba(58, 67, 84, 0.3);
$color-black-gradiant:rgba(53, 245, 39, 0);
$color-grey-12: rgba(0, 0, 0, 0.125);
$color-grey-50: #a5a9b1;
$color-solitude: #f1f2f4;
$color-azure: #f3f4f4;
$color-link-water: #cad0d5;
$color-nepal: #a0abb4;
$color-dark-gray: #a9a9a9;
$color-lightBlue: #44ade3;
$color-dark-blue: #3a4354;
$color-ink: #1e2b37;
$color-white-smoke: #f8f8f8;
$color-amethyst-smoke: #979197;
$color-whisper: #e6e6e6;
$color-dodger-blue: #1087ff;
$color-navy-blue: #006edc;
$color-pale-cornflower-blue: #a9d4ff;
$color-maya-blue: #76baff;
$color-shalimar: #ffffa9;
$color-laser-lemon: #ffff76;
$color-free-speech-red: #d10000;
$color-bismark: #506575;
$color-ghost-white: #f2f3fa;
$color-storm-grey: #7c7d81;
$color-alizarin: #ed1c24;
$color-ghost: #bcbcbd;
$color-hawkes-blue: #d8dae2;
$color-slate-grey: #767e8c;
$color-manatee: #888f9d;
$color-hawkes-blue2: #dee0e8;
$color-button-disabled: #6c757d;
$color-label-alert: #f44336;
$color-text-regular:rgba(0, 0, 0, 0.85);
$color-popover-border:rgba(0, 0, 0, 0.2);
$color-hr-tag:rgba(0, 0, 0, 0.1);
$color-round-color2: rgb(243, 142, 107);
$color-round-color1: rgb(0, 190, 75);
$color-round-color4: rgb(21, 113, 159);
$color-round-abnormal: rgb(255, 0, 0);
// $color-boxShadow-19: inline rgb(0 0 0 / 19%);
// $color-boxShadow-20: inline rgb(0 0 0 / 20%);
$color-covid-info-text: rgb(53, 64, 82);
$color-azure: #f3f4f4;
$color-bg-diabled: #f5f5f5;
$color-diabled-dates: rgba(0, 0, 0, 0.25);
$color-employee-indicator: #66cdaa;
$color-black-switch : #000; 
$color-text-grey-50 :#495057;
$color-text-terms : #212529;
$color-update : #007bff;
$color-bg-porcelain : #e8e9ea ;
$color-whisper: #e7e7e7;
$color-nobel: #9a9a9a;
$color-buffer: #f3f9fc;
$color-bismark2: #516575;
$color-neon-blue: #5762ef;
$color-cream-white:#fffadf;
$color-grey-30: rgba(58, 67, 84, 0.3);
$color-pattens-blue: #e1eff7;
$color-label-primary: #0071bc;
$color-label-success: #54c500;
$color-label-warning: #f15a24;
$color-label-info: #00a99d;
$color-label-default: #808080;
$color-label-danger: #dc3545;
$color-thin-blue: #f3f9fc;
$color-red-gray: #c6c3c3;
$color-blue-zodiac: #3a4354;
$color-grey-light: #eef1f6;
$color-badge-yellow: #ffa000;
$color-text-green: #00be4b;
$color-gray-chateau: #9da2ab;
$color-heather: #bbbdbe;
$color-mischka: #a9b0b9;
$color-light-blue: #f3f9fc;
$color-mischka2: #a5aab0;
$dark-grey: #9d9d9e;
$color-lightgray-05: rgba(0, 0, 0, 0.05);
//++++++++++++++++++++++++++++++++++++++++++
// Colors
$color-brownie: #484848;
$color-black: #17232c;
$color-dark-blue: #1f4965;
$color-facebook-blue: #3b5998;
$color-gray: #707070;
$color-white: #ffffff;
$color-pure-white: #fff;
$color-grey: #888888;
$color-pink-swan: #b8b8b8;
$color-blue-grey:#516575;
$color-thick-grey: #b3b3b3;
$color-text-success:#28a745;
$color-green: #2d9483;
$color-red: #ff0000;
$color-spinner-white: #f8f9fa;
$color-mandy: #d84e59;
$color-cancel: #cdcdcd;
$color-employee-indicator: #66cdaa;
$color-bg-med-blue: #e7f2fa;
$color-light-grey-border: #d9d9d9;
$color-MuiIconButton-root-disabled :rgba(0, 0, 0, 0.26);
$color-bg-radio-button-hover: rgba(0,  0,  0,  0.04);
$color-text-pale-sky: #686e7b;
$color-blue:#17a2b8;
$color-text-blue: #2691ec;
$color-ant-picker-disabled: #f5f5f5;
$color-facebook-blue: #3b5998;	
$color-border-color:#666;		
$color-border-bottom: #ebebeb;		
$color-bg-porcelain:#e8e9ea;		
$color-stroke:#d6d6d6;		
$color-text-grayish-blue:#b3b6bd;
$color-border-color:#80bdff;	
$color-background-color:#e7f2fa;	
$color-badge-warning:#ffc107;	
$color-badge-lightGreen:#13c964;	
$color-ant-picker-header-btn: rgba(0, 0, 0, 0.25);
$color-bg-vertical-timeline:  #e3f6fc;
$color-btn-hover: #545b62;
$color-span-arrow: #666;
$color-grey3: #4d4d4c;
$color-black-50 : #000;
$text-grayish-blue: #b3b6bd;
$color-stroke: #d6d6d6;
$color-stroke-rgb: rgb(77, 98, 110);
$color-input-disabled: #e9ecef;
$color-hr-tag: rgba(0,0,0,0.1);
$color-bg-badge-warning: #ffc107;
$color-bg-badge-success: #28a745;
$color-bg-badge-danger: #dc3545;
$color-bg-badge-primary: #0d83c9;
$color-bg-badge-orange: #ef8b1e;
$color-bg-porcelain: #e8e9ea;
$color-blue:#17a2b8;
$color-bg-snow: #fcfcfc;
$color-MuiInputBase-root-disabled: rgba(0, 0, 0, 0.38);
$color-MuiInputBase-root: rgba(0, 0, 0, 0.87);
$color-ant-tabs-border:  #f0f0f0 !important;
$color-tag-active-bg: #f6ffed;
$color-tag-active-border: #b7eb8f;
$color-tag-danger-bg: #fff1f0;
$color-tag-danger-border: #ffa39e;
$color-tag-warning-text: #ffc107;
$color-tag-warning-bg: #fff7e6;
$color-tag-warning-border: #ffd591;
$color-grey2: #808080;
$color-lavender: #e6e6e9;
$color-night-rider: #333333;

$color-cinnabar: #e94c23;
$color-button-disabled: #6c757d;
$color-cloud-burst: #3a4354;
$color-dark-cerulean: #0b4b7d;
$color-label-blue: #1497ea;
$color-grey-chateau: #979ca6;
$color-solitude: #f1f2f4;
$color-azure: #f3f4f4;  
$color-link-water: #cad0d5;
$color-nepal: #a0abb4;
$color-dark-gray: #a9a9a9;
$color-lightBlue: #44ade3;
$color-dark-blue: #3a4354;
$color-ink: #1e2b37;
$color-white-smoke: #f8f8f8;
$color-amethyst-smoke: #979197;
$color-whisper: #e6e6e6;
$color-dodger-blue: #1087ff;
$color-navy-blue: #006edc;
$color-pale-cornflower-blue: #a9d4ff;
$color-maya-blue: #76baff;
$color-shalimar: #ffffa9;
$color-laser-lemon: #ffff76;
$color-free-speech-red: #d10000;
$color-bismark: #506575;
$color-ghost-white: #f2f3fa;
$color-storm-grey: #7c7d81;
$color-alizarin: #ed1c24;
$color-ghost: #bcbcbd;
$color-hawkes-blue: #d8dae2;
$color-slate-grey: #767e8c;
$color-manatee: #888f9d;
$color-hawkes-blue2: #dee0e8;
$color-whisper: #e7e7e7;
$color-nobel: #9a9a9a;
$color-buffer: #f3f9fc;
$color-bismark2: #516575;
$color-neon-blue: #5762ef;
$color-grey-30: rgba(58, 67, 84, 0.3);
$color-grey-12: rgba(0, 0, 0, 0.125);
$color-link-water: #ced4da;
$color-pattens-blue: #e1eff7;
$color-label-primary: #0071bc;
$color-label-dark-primary: #3f51b5;

$color-label-success: #54c500;
$color-label-warning: #f15a24;
$color-label-info: #00a99d;
$color-label-default: #808080;
$color-label-danger: #dc3545;
$color-label-alert: #f44336;
$color-tag-status-info: #91d5ff;
$color-tag-status-background: #ddecf5;
$color-tag-status-text: #007cc3;
$color-thin-blue: #f3f9fc;
$color-red-gray: #c6c3c3;
$color-blue-zodiac: #3a4354;
$color-grey-light: #eef1f6;
$color-gray-chateau: #9da2ab;
$color-heather: #bbbdbe;
$color-mischka: #a9b0b9;
$color-light-blue: #f3f9fc;
$color-mischka2: #a5aab0;
$dark-grey: #9d9d9e;
$color-bg-grey : #fafafa;
$color-blue:#17a2b8;
$color-badge-primary: #0d83c9;
$color-navbar-border-bottom : #a5a9b1;
$color-light-grey:#24252c;
$color-navbar-border : #a5a9b1;
$color-rect: #4e5664;
$color-covid-info-text: rgb(53, 64, 82);
$color-text-regular:rgba(0, 0, 0, 0.85);
$color-horizantal-line : #7c7d81;
$color-amber : #ffbf00;
$color-update : #007bff;
$color-table-head : #eef1f6;
$color-zodiac : #343A40 ;
$color-black-switch : #000; 
$color-lightgray-05: rgba(0, 0, 0, 0.05);
$ws-color:rgba(0, 0, 0, 0.85);
$color-bg-med-blue: #e7f2fa;
$color-light-grey-border: #d9d9d9;
$color-MuiIconButton-root-disabled :rgba(0, 0, 0, 0.26);
$color-bg-radio-button-hover: rgba(0,  0,  0,  0.04);
$color-text-pale-sky: #686e7b;
$color-blue:#17a2b8;
$color-bg-vertical-timeline:  #e3f6fc;
$color-btn-hover: #545b62;
$color-span-arrow: #666;
$color-grey3: #4d4d4c;
$color-black-50 : #000;
$text-grayish-blue: #b3b6bd;
$color-stroke: #d6d6d6;
$color-stroke-rgb: rgb(77, 98, 110);
$color-input-disabled: #e9ecef;
$color-hr-tag: rgba(0,0,0,0.1);
$color-bg-badge-warning: #ffc107;
$color-bg-badge-success: #28a745;
$color-bg-badge-danger: #dc3545;
$color-bg-badge-primary: #0d83c9;
$color-bg-badge-orange: #ef8b1e;
$color-bg-porcelain: #e8e9ea;
$color-blue:#17a2b8;
$color-bg-snow: #fcfcfc;
$color-MuiInputBase-root-disabled: rgba(0, 0, 0, 0.38);
$color-MuiInputBase-root: rgba(0, 0, 0, 0.87);
$color-ant-tabs-border:  #f0f0f0 !important;
// $color-subjectTicket: #495057;
$color-MuiInput-underline: rgba(0, 0, 0, 0.42);
$color-text-roman-silver: #7d838e;
$color-badge-yellow: #ffa000;
$color-sticky-button: #e8e8e8;
$color-btn-bg-hover : #5a6268;
//Bootstrap colors

//========================================
//========================================
$color-bs-gray:#6c757d;
$color-bs-success:#28a745;
$color-tag-active-bg: #f6ffed;
$color-tag-active-border: #b7eb8f;
$color-tag-danger-bg: #fff1f0;
$color-tag-danger-border: #ffa39e;
$color-tag-warning-text: #ffc107;
$color-tag-warning-bg: #fff7e6;
$color-tag-warning-border: #ffd591;
$color-bs-danger:red;
$color-bs-warning:blue;
//MUI
$color-radio:rgba(0, 0, 0, 0.54);
// Theme
$theme-primary: var(--theme-primary, $color-cloud-burst);
$theme-secondary: var(--theme-secondary, $color-dark-cerulean);
//__________________________________________
// Theme
$theme-primary: var(--theme-primary, $color-cloud-burst);
$theme-secondary: var(--theme-secondary, $color-dark-cerulean);

// Z Index
$z-index-100: 100;
$z-index-10: 10;

// Fonts
$font-sizes: (
  smaller-5: 0.5em,
  smaller-4: 0.6em,
  smaller-3: 0.7em,
  smaller-2: 0.8em,
  smaller-1: 0.9em,
  bigger-1: 1.2em,
  bigger-2: 1.4em,
  bigger-3: 1.6em,
  bigger-4: 1.8em,
  bigger-5: 2em,
);

$body-color: $color-cloud-burst;

$font-size-base: 0.85rem !default;
$base-font-weight: 600;

$headings-font-weight: 800 !default;
$h1-font-size: $font-size-base * 2.85 !default;
$h2-font-size: $font-size-base * 1.85 !default;
$h3-font-size: $font-size-base * 1.28 !default;
$h4-font-size: $font-size-base !default;
$h5-font-size: $font-size-base * 0.85 !default;
$h6-font-size: $font-size-base * 0.7 !default;

$h3-font-weight: 500 !default;