.no-results-heading {
    font: normal normal normal 44px/53px Suisse Intl;
    letter-spacing: 0px;
    color: #000000;
  }
  
  .no-results-description {
    font: normal normal normal 21px/28px Suisse Intl;
    letter-spacing: 0px;
    color: #767676;
   }
  