@import "../../styles/variables.scss";

.input-type{
   // border: 1px inset $color-link-water;
   border-radius: 50px;
}
.input-type Input{
   border: none;
}
.input-type span{
   border: none;
   padding: 8px;
}
.popover-style{
  width:350px;
}