
.card-extand {
  height: 65.5vh;
}

.card-responsive {
  width: 100%;
  height: 100%;
  /* background: transparent linear-gradient(180deg, #242328 0%, #3e3e3e 100%) 0%
    0% no-repeat padding-box; */
  /* box-shadow: 0px 3px 6px #00000029; */
  /* background-color: green; */
  /* opacity: 0.8; */
  border-radius: 15px;
  padding: 4px;
  /* margin: 0.4%; */
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.card-extand-responsive {
  height: 100%;
}
.toggle-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 1px;
}
.input-box {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 34px;
}
.info-icon {
  margin-left: 10px;
  cursor: pointer;
  color: white;
}
.edit-buttons{
  display: flex;
  gap: 10px;
}
.fieldset{
  margin-top: 10px !important;
}
.tit{
  font-size: 20px;
    margin-top: 10px;
}
.tit1{
  font-size: 20px;
    margin-top: 10px;
}