.vertical-bar-chart-box {
  background-color: #ffffff;
  min-height: 350px;
  width: 48%;
}

.vertical-bar-chart-box-expand {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical-bar-chart-text {
  font: normal normal 600 18px Suisse Intl;
  letter-spacing: 0.4px;
  color: #000000de;
  text-transform: capitalize;
}

.vertical-bar-chart-box:hover .expand-icon {
  color: #000000;
}

.line-chart-box {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
.light-mode .line-chart-box{
  height: 100%;
  width: 100%;
  background-color:#2D2E2D ;
}

.line-chart-box-expand {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.light-mode .line-chart-box-expand {
  background-color:#2D2E2D ;
}
.line-chart-text {
  font: normal normal 600 18px Suisse Intl;
  letter-spacing: 0.4px;
  color: #000000de;
  /* text-transform: capitalize; */
  cursor: pointer;
}
.light-mode .line-chart-text {
  color:white !important;
}

.line-expand-icon {
  color: transparent;
}

.line-chart-box:hover .line-expand-icon {
  color: #000000;
}

.light-text {
  color: #808080 !important;
}