.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
}

.exportDisabled {
  cursor: not-allowed;
}

.scheduler.pin-expand {

  tr {
    max-width: 1100px !important;
  }

  .scheduler-view {
    margin: 0px !important;
    // width: 840px !important;
    position: relative !important;
  }

  to {
    transform: rotate(360deg);
  }
}


.MuiDataGrid-cell {
  cursor: pointer;
}

.pinEnabledClass .cschedule {
  overflow: hidden !important;
}

@media only screen and (min-width: 1100px) {
  .margin-left-300 {
    margin-left: 30px;
  }

  .textwrapdots {
    margin-left: 2%;
    padding-right: 5%;
    margin-right: 10px !important;
  }

}

@media only screen and (min-width: 1401px) {
  .margin-left-300 {
    margin-left: 200px;
  }

  .textwrapdots {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    padding: 0%;
    margin-right: 10px !important;
    font-size: 15px !important;
  }

  .resourceSchedule {
    font-size: 15px !important;
  }

  .resource-view {
    div {
      width: auto !important;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .margin-left-300 {
    margin-left: 200px;
  }

  .textwrapdots {
    margin-left: 10%;
    margin-right: 10px !important;
    margin-top: 5px;
    padding: 0%;
    font-size: 10px !important;
  }

  .resourceSchedule {
    font-size: 10px !important;
  }

  .resource-view {
    div {
      width: auto !important;
    }
  }

  // .resource-table {

  // }
}

.ant-select-selection-overflow-item {
  font-size: 12px !important;
}

//   .ant-select-selector {width: 220px !important; margin-left: 20px !important;}
@media only screen and (max-width: 900px) {
  .margin-left-300 {
    margin-left: 20px;
    margin-top: 10px;
  }

  .textwrapdots {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    padding: 0%;
    margin-right: 0px !important;
    font-size: 7px !important;
  }

  .resourceSchedule {
    font-size: 7px !important;
  }

  .resource-view {
    div {
      width: auto !important;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .margin-left-300 {
    margin-left: 20px;
    margin-top: 0px !important;
  }

  .textwrapdots {
    margin-left: 10%;
    margin-top: 5px;
    padding: 0%;
    margin-right: 10px !important;
    font-size: 10px;
  }

  .resourceSchedule {
    font-size: 10px;
  }

  .resource-view {
    div {
      width: auto !important;
    }
  }
}

@media only screen and (min-width: 800px) {
  .margin-left-300 {
    margin-left: 20px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1450px) {
  .margin-left-300 {
    margin-left: 20px !important;
  }

  .textwrapdots {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 700px) {
  .margin-left-300 {
    margin-left: 400px !important;
  }

  .textwrapdots {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    width: 80px;
  }
}

@media only screen and (max-width: 900px) {
  .margin-left-300 {
    margin-left: 400px !important;
  }

  .textwrapdots {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    width: 80px;
  }
}

.side-nav-bar-expand-pinned {
  background: #3a4354;
  // min-height: 100vh;
  // width: 265px !important;
  height: 100vh;
  // min-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  // z-index: 9999 !important;
  padding-top: 10px;
  padding-bottom: 37px;
  left: 0;
  position: fixed;
  display: inline-block;
  // top: 50%;
  // bottom: 20%;
  // -webkit-transform:translateY(-50%);
  // -ms-transform:translateY(-50%);
  // transform:translateY(-50%);
}

.side-nav-bar-expand {
  background: #3a4354;
  // min-height: 100vh;
  // width: 265px !important;
  height: 100vh;
  min-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999 !important;
  padding-top: 10px;
  padding-bottom: 37px;
  left: 0;
  position: fixed;
  display: inline-block;
  top: 57.8%;
  bottom: 20%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header {
  position: sticky;
  top: 0;
  z-index: 1045 !important;
}

.page-wrap {
  min-height: 100vh;
}

.fixed-bottom-center {
  text-align: center;
  background: white;
  padding: 5px;         /* Adjust padding as needed */
  position: fixed;       /* Makes the footer fixed */
  bottom: 0;             /* Aligns it to the bottom */
  left: 0;               /* Aligns it to the left */
  right: 0;              /* Aligns it to the right */
}

.fixed-bottom-buttons {
  background: white;
  padding: 5px;         /* Adjust padding as needed */
  position: fixed;       /* Makes the footer fixed */
  bottom: 0;             /* Aligns it to the bottom */
  left: 5vw;               /* Aligns it to the left */
  right: 0;              /* Aligns it to the right */
}

.fixed-bottom-right {
  position: fixed;
  right: 1060px;
  bottom: 15px;
  z-index: 1030;
}

.fixed-bottom-right2 {
  position: fixed;
  right: 45%;
  bottom: 2px;
  z-index: 1030;
}

.grecaptcha-badge {
  bottom: 110px !important;
}

#onesignal-bell-container {
  display: none;
}

#onesignal-bell-container.onesignal-reset {
  bottom: 35px !important;
}

.fa-3x {
  font-size: 3em !important;
}

.custom-table-footer {
  position: sticky;
  bottom: -8px;
  z-index: 999999;
  background: white;
  width: 100%;
  text-align: right;
}

.MuiPagination-root {
  float: right;
}

.MuiDataGrid-virtualScrollerContent {
  background-color: white;
}
.light-mode .MuiDataGrid-virtualScrollerContent{
  background-color: #2D2E2D !important;
}
.table-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table-left {
  width: 65%; /* Adjust width as needed */
}

.table-right {
  width: 30%; /* Adjust width as needed */
  display: flex;
  justify-content: space-between;
}

.table-right-child {
  width: 48%; /* Adjust width as needed */
}

.MuiTreeItem-iconContainer {
  width: 10px !important;
  color: var(--icon-color);}
  .light-mode .MuiTreeItem-iconContainer {
    --icon-color: #FFFFFF; /* White in light mode */
  }

.pl-09-left {
  padding-left: 0.9rem !important
}

.w-100 {
  width: 100% !important;
}

.text-align-left {
  text-align: left !important;
}

.form-text-area::placeholder {
  color: #999 !important; /* Default placeholder text color */
  opacity: 0.5 !important;
}

.form-text-area::-ms-input-placeholder { /* Edge 12-18 */
  color: #999 !important; /* Default placeholder text color */
  opacity: 0.5 !important;
}

.light-mode .cschedule{
  background-color:#2D2E2D !important;
  color: white !important;
}

.css-zn8q6n{
  position: static !important;

}
// .light-mode .MuiAutocomplete-hasPopupIcon.css-ka7ti6-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-ka7ti6-MuiAutocomplete-root .MuiOutlinedInput-root{
//   background-color: #1E1F1E;
// }
.light-mode .filter-by-text{
  color: white;
}
.light-mode .css-k61au5-MuiButtonBase-root-MuiCheckbox-root{
  color: white !important;
}
.light-mode .assets-table thead th{
  color: white;
}
.light-mode .css-15ceo8h{
  background-color:#2D2E2D !important;
color: white;
}
.light-mode .css-bghv3y-MuiToggleButtonGroup-root .MuiToggleButtonGroup-lastButton, .css-bghv3y-MuiToggleButtonGroup-root .MuiToggleButtonGroup-middleButton{
  color: white !important;
}
.light-mode .css-bghv3y-MuiToggleButtonGroup-root .MuiToggleButtonGroup-firstButton, .css-bghv3y-MuiToggleButtonGroup-root .MuiToggleButtonGroup-middleButton{
  color: white !important;
}
.light-mode .cancel-apply-box{
  background-color:#2D2E2D !important;
}
.light-mode .apexcharts-svg{
  background-color:#2D2E2D !important;
}
.light-mode .resource-item{
  color: white !important;
}
.light-mode .ant-radio-button-wrapper{
  color: black !important;
}
// .light-modev .font-family-tab{
//   background-color:#2D2E2D !important;
//   color: white;  
// }
.light-mode .sticky-button-85drawer-no-align{
  background-color:#2D2E2D !important;
  color: white;  
}
.light-mode .font-family-tab {
  color: white;
  background-color:#2D2E2D !important;
}
.light-mode .jodit-container:not(.jodit_inline) .jodit-workplace{
  background-color:#2D2E2D !important;
  color: white;  
}
.light-mode .ant-result-title{
  color: white;  
}
.light-mode .css-9jghfq{
  background-color:#2D2E2D !important;
  color: white;  
}
.light-mode .sticky-button-50drawer{
  background-color:#2D2E2D !important; 
  color: white;  
}
.light-mode .ant-picker{
  background-color: #1E1F1E;
}
.light-mode .apexcharts-tooltip-text{
  color: rgb(0, 0, 0);  
}
.light-mode .apexcharts-tooltip.active {
  background-color: #1E1F1E !important;
}
.light-mode .apexcharts-tooltip-title{
  color: rgb(0, 0, 0);  
}
.light-mode .font-16{
  color: white !important;
}
.light-mode .MuiDataGrid-cellContent{
  color: white !important;
}
.light-mode .css-19umv3z-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell{
  color: white !important;
}
.light-mode .css-1y5vm3r{
  background-color: #1E1F1E !important;
}
.light-mode .card-body{
  background-color: #1E1F1E !important;
color: white;
}
.light-mode .css-3lw1uu-MuiTypography-root{
  color: white;
}
.light-mode .css-934o7x-MuiTypography-root{
  color: white;
}
.light-mode .css-1xv9mtj-MuiTypography-root{
  color: white;
}
.light-mode .css-15teg5o-MuiTypography-root{
  color: white !important;
}
.light-mode .ant-select-selection-item{
  color: white !important;
}
.light-mode .ant-table-cell-hover{
  background-color: #1E1F1E !important;
color: white !important
}
.light-mode .css-14m1627-MuiButtonBase-root-MuiButton-root.Mui-disabled{
  color: #696868 !important;
}
.light-mode .float-right{
  background-color: #1E1F1E !important;
}
.light-mode .form-control:disabled{
background-color: #1E1F1E !important;
}
.light-mode .form-control{
  background-color: #1E1F1E !important;
}
.light-mode .font-weight-400 {
  color: white !important;
}