@import "./styles/variables.scss";
@import "./styles/oldCustom.scss";
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@import "~bootstrap/scss/bootstrap";

.iagree {
  margin-left: 2.5rem !important
}

.antd-cascader-width-98 {
  width: 98.5% !important;
}

.advancedUrl {
  text-decoration: underline;
}

.ant-input.ant-cascader-input {
  padding: 2px 2px 2px 9px !important;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.colspan-7 {
  text-align: center;
}

.date-details {
  font-size: 0.765625rem;
  font-family: inherit;
  font-weight: 400;
}

.chart-details {
  float: right;
  margin-right: 5%;
  margin-top: 1%;
  font-size: 0.765625rem;
  font-family: inherit;
  font-weight: 400;
}

.chart-details table td {
  padding: 3px
}

.chart-details table tr td {
  text-align: center;
}

/* Track */
.thin-scrollbar::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 3px $color-gray;
  border-radius: 5px;
}

/* Handle */
.thin-scrollbar::-webkit-scrollbar-thumb {
  //background: $color-gray-chateau;
  border-radius: 5px;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0px !important;
}

.table-responsive::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.table-responsive::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px $color-gray;
  border-radius: 5px;
}

/* Handle */
.table-responsive::-webkit-scrollbar-thumb {
  // background: $color-gray-chateau; 
  border-radius: 5px;
}

.ant-cascader-menu::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.ant-cascader-menu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px $color-gray;
  border-radius: 5px;
}

/* Handle */
.ant-cascader-menu::-webkit-scrollbar-thumb {
  background: $color-gray-chateau;
  border-radius: 5px;
}

.text-black {
  color: #212529;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-disabled {
  cursor: not-allowed !important;
}

.pb-2px {
  padding-bottom: 2px !important
}

.pl-2px {
  padding-left: 2px !important
}

.side-nav-svg button {
  border: none;
}

.pt-4rem {
  padding-top: 2.1rem !important;
}

.login-box-height {
  height: 255px;
}

.light-bg-login {
  background-color: #f1f2f7 !important;
}

.dark-bg-login-area {
  background-color: #24252c !important;
}

.login-background {
  background-image: url(@images/businessPeople.jpg);
  background-size: cover;
  height: 100vh;
}

.login-form-style {
  width: 500px;
  opacity: 0.9;
  margin: 6rem;
}

.p-login {
  padding: 0.5rem 1.5rem;
}

.padding-btn-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.padding-top-1 {
  padding-top: 1px;
}

.login-h115 {
  background-image: url(@images/businessPeople.jpg);
  background-size: cover;
  height: 115vh;
}

.text-underlined {
  text-decoration: underline;
}

.border-style-dashed {
  border-style: dashed !important;
}

// .bg-cloud-burst {
//   background: $color-cloud-burst;
// }

// .border-color-whisper {
//   border-color: $color-whisper;
// }

// .bg-cinnabar {
//   background: $color-cinnabar;
// }

// .bg-dark-cerulean {
//   background: $color-dark-cerulean;
// }
// .bg-thin-ash {
//   background: $color-thin-ash;
// }

// .bg-snow {
//   background: $color-snow !important;
// }

// .bg-color-mandy {
//   background: $color-mandy;
// }

// .bg-color-white {
//   background: $color-white;
// }

.roundCorners {
  border-radius: 1.5rem;
}

.noBorder {
  border: none !important;
}

.display-table {
  display: table !important;
}

// .badge-primary {
//   background-color: $color-blueberry !important;
// }

.text-break {
  white-space: pre-line !important;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-16 {
  font-size: 16px !important;
}

// .bg-azure {
//   background: $color-azure;
// }
// .bg-light-blue {
//   background: $color-light-blue;
// }

// .border-cinnabar-1px {
//   border: 1px solid $color-cinnabar;
// }

// .border-cloud-burst-1px {
//   border: 1px solid $color-cloud-burst;
// }

// .border-nepal-1px {
//   border: 1px solid $color-nepal;
// }

// .border-cloud-burst-2px {
//   border: 2px solid $color-cloud-burst;
// }

// .border-border-azure-1px {
//   border: 1px solid $color-azure;
// }

// .border-secondary-color-1px {
//   border: 1px solid $color-light-zodiac;
// }

// .border-bottom-secondary-color-1px {
//   border: 1px solid $color-light-zodiac;
// }

// .border-bottom-azure-2px {
//   border-bottom: 2px solid $color-azure;
// }

// .border-bottom-silver-foil-2px {
//   border-bottom: 2px solid $color-silver-foil;
// }

// .border-bottom {
//   border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
// }

// .border-bottom-dark {
//   border-bottom: 1px solid $color-blue-zodiac!important;
// }

.border-bottom-0 {
  border-bottom: 0 !important;
}

// .bg-sliver-foil{
//   background-color:$color-silver-foil !important;
// }

.border-radius-50 {
  border-radius: 50%;
}

.border-radius-50px {
  border-radius: 50px;
}

.font-weight-600 {
  font-weight: 600;
}


//  We're over riding bootstrap secondary button styles here,
//   needs to update here in order to change the styles of the buttons

.btn-outline-secondary {
  // border: 1px solid $color-grey-chateau;
  // color: $color-cloud-burst;
  // background: $color-solitude;
  font-weight: 700;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
  box-shadow: none;
}

.btn-outline-secondary:hover {
  background: $color-solitude;
  color: $color-cloud-burst;
}

// .btn-outline-secondary:not(:disabled):not(.disabled):active,
// .btn-outline-secondary:not(:disabled):not(.disabled).active,
// .show > .btn-outline-secondary.dropdown-toggle {
//   color: $color-cloud-burst;
//   background: $color-solitude;
// }

.btn-secondary {
  // background: $color-cloud-burst;
  // color: $color-white;
  font-weight: 600;
}

// .btn-secondary:not(:disabled):not(.disabled):active,
// .btn-secondary:not(:disabled):not(.disabled).active,
// .show > .btn-secondary.dropdown-toggle {
//   // background: $color-cloud-burst;
// }

.btn-back {
  //   background: $color-dark-gray;
  //   color: $color-white;
  font-weight: 600;
}

// .btn-back:hover {
//   background: $color-dark-gray;
// }

// .btn-back:not(:disabled):not(.disabled):active,
// .btn-back:not(:disabled):not(.disabled).active,
// .show > .btn-back.dropdown-toggle {
//   background: $color-dark-gray;
// }



//  We're over riding bootstrap DropDown styles here,
//   needs to update here in order to change the styles of the Dropdown

.defaultDropDown {
  // border: 1px solid $color-grey-chateau;
  // color: $color-cloud-burst;
  // background: $color-solitude;
  border-radius: 1.5rem;
  padding: 0.1rem 0.75rem;
}

// .defaultDropDown:hover {
//   background: $color-solitude;
//   color: $color-cloud-burst;
// }

// .defaultDropDown:focus {
//   background: $color-solitude;
//   color: $color-cloud-burst;
// }

// .defaultDropDown:not(:disabled):not(.disabled):active {
//   background: $color-solitude;
//   color: $color-cloud-burst;
// }
// .defaultDropDown:not(:disabled):not(.disabled):active,
// .defaultDropDown:not(:disabled):not(.disabled).active,
// .show > .defaultDropDown.dropdown-toggle {
//   background: $color-solitude;
//   color: $color-cloud-burst;
// }

.btn-red {
  // background: $color-cinnabar;
  // color: $color-white;
  font-weight: 600;
}

.btn-red:active {
  // background: $color-cinnabar;
  // color: $color-white;
  font-weight: 600;
}

.btn-red:hover {
  // background: $color-cinnabar;
  // color: $color-white;
  font-weight: 600;
}

.btn-red:focus {
  // background: $color-cinnabar;
  // color: $color-white;
  font-weight: 600;
}

// .table-head {
//   // background-color: $color-light-gray;
// }

.table-head th {
  padding: 0.40rem !important;
}

.link-tag {

  text-decoration: none !important;
  // color : $color-blue-zodiac !important;

}

.action-fa-button-lg {
  font-size: 24px;
}

.page-actions-header {
  display: flex;
}

.content-center {
  align-items: center;
}

.content-left {
  margin-left: auto;
  text-align: center;
}

.margin-right-auto {
  margin-right: auto;
}

.user-logo {
  width: 45px;
  height: 45px;
  position: relative;
}

.scrollable-list {
  overflow-y: auto;
}

.table-scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

.height-100 {
  height: 100vh;
}

.height-97 {
  height: 97.5vh;
}

.height-93 {
  height: 93vh;
}

.text-red-gray {

  color: $color-red-gray;
}

// .tab_nav_link.active{

//   border-bottom: 2px solid $color-blue-zodiac !important;
//   color: $color-blue-zodiac !important;
// }
// .tab_nav_link{

//   color: $color-red-gray !important;
// }

.nav-link-item {
  // color: $color-blue-zodiac !important;
  font-weight: 500 !important;
}

.nav-link-item.active {
  // border-bottom: 2px solid $color-blue-zodiac !important;
  // color: $color-blue-zodiac !important;
  font-weight: 800 !important;
  font-size: 15px;
}

.user-profile {
  .nav-link-item {
    // color: $color-mischka !important;
    font-weight: 500 !important;
    font-size: 18px;
  }

  .nav-link-item.active {
    // border-bottom: 2px solid $color-blue-zodiac !important;
    // color: $color-blue-zodiac !important;
    font-weight: 800 !important;
    font-size: 18px;
  }
}

// .nav-datafilter.active {
//   background: $color-blue-zodiac !important;
//   color: $color-white !important;
// }

.navbar-link {
  // color: $color-gray-chateau !important;
  font-size: 17px;
  font-weight: 500;
}

.navbar-link.active {
  // border-bottom: 2px solid $color-blue-zodiac !important;
  // color: $color-blue-zodiac !important;
  font-weight: 900;
}

.header_tab_nav_link.active {

  // border-bottom: 2px solid $color-blue-zodiac !important;
  // color: $color-white !important;
  font-weight: bold !important;
}

.header_tab_nav_link {

  // color: $color-white !important;
  font-size: 14px !important;
  font-weight: normal !important;
}

.font-side-heading {
  font-size: 13px;
}

.collapse-heading {
  font-size: 15px;
}

.badge-text {
  font-size: 12px;
}

.form-head {
  font-size: 15px;
  // border-bottom: 2px solid $color-blue-zodiac !important;
}

.font-17 {
  font-size: 17px;
}

.font-15 {
  font-size: 15px;
}

.font-11 {
  font-size: 11px !important;
}

.font-14 {
  font-size: 14px !important;
}

.badge-warning {
  color: $color-white !important;
}

.bg-zodiac {
  background: $color-blue-zodiac !important;
}

.font-medium {
  font-size: 17px;
}

.font-tiny {
  font-size: 12px !important;
}

.font-tiny-xs {
  font-size: 9px !important;
}

.badge-small {
  font-size: 6px !important;
}

.no-border-radius {
  border-radius: unset !important;
}

.content-inline {
  display: inline;
}

.text-capital {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.popoverModal .popover {
  z-index: 1000 !important;
}

.text-line-height-11 {
  line-height: 11px;
}

.text-line-height-2 {
  line-height: 2px;
}

.hidden-div {
  display: none !important;
}

.outline-none {
  outline: none;
}

.bg-gray-light {
  // background-color: $color-grey-light;
}

.link-text>a {
  text-decoration: none !important;
  // color: $color-cloud-burst !important;
}


.arrow-down-normal {
  // background-color: $color-black;
  height: 52px;
  right: -50px;
  position: absolute;
  bottom: -50px;
  width: 100px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-down-alert-activity {
  // background-color: $color-cinnabar;
  height: 52px;
  right: -50px;
  position: absolute;
  bottom: -50px;
  width: 100px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.arrow-down-alert {
  // background-color: $color-cinnabar;
  height: 52px;
  right: -50px;
  position: absolute;
  bottom: -50px;
  width: 100px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-down-normal-notify {
  // background-color: $color-black;
  height: 52px;
  right: -50px;
  position: absolute;
  bottom: -50px;
  width: 100px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-down-ppm {
  // background-color: $color-cinnabar;
  height: 52px;
  right: -50px;
  position: absolute;
  bottom: -50px;
  width: 100px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

// .border-left-dark{
//   border-left: 4px solid $color-black-grey !important;
// }
// .border-left-reddark{
//   border-left: 4px solid $color-torch-red !important;
// }

.nowrap-content {
  font-size: 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

// .bg-alice-blue {
//   background: $color-alice-blue-thin;
// }

// .color-alice-blue {
//   color: $color-alice-blue-thin;
// }

// .color-reset {
//   color: $color-raven;
// }

.border-light-slate-grey-1px {

  border: 1px solid $color-light-slate-grey !important;
}

.border-radius-5px {
  border-radius: 5px !important;
}

.user-circle {
  border-radius: 50%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.user-profile-circle {
  border-radius: 50%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

th span.sort-by {
  padding-right: 18px;
  position: relative;
}

span.sort-by:before,
span.sort-by:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}

span.sort-by:before {
  // border-bottom-color: #666;
  margin-top: -9px;
}

span.sort-by:after {
  // border-top-color: #666;
  margin-top: 1px;
}

.modal-inline-title>.modal-title {
  width: 100% !important;
}

.modal-justify-header>.modal-title {
  width: 100% !important;
  font-size: unset !important;
}

.modal-justify-header {
  padding: 20px !important;
  border-bottom: 0px !important;
}

.modal-equipment-header>.modal-title {
  width: 100% !important;
  font-size: unset !important;
}

.modal-equipment-header {
  padding: 16px !important;
  border-bottom: 0px !important;
}

.modal-ticket-header>.modal-title {
  width: 100% !important;
  font-size: unset !important;
}

.modal-ticket-header {
  padding: 20px 20px 0px 20px !important;
  border-bottom: 0px !important;
}

.modal-cornor-button-header {
  padding: 20px 10px 0px 20px !important;
  border-bottom: 0px !important;
}

.modal-cornor-button-header>.modal-title {
  width: 100% !important;
  font-size: unset !important;
}

.table thead th {
  display: table-cell !important;
  min-width: 50px;
}

.min-width-120 {
  min-width: 120px !important;
}

.min-width-111 {
  min-width: 111px !important;
}

.min-width-127 {
  min-width: 127px !important;
}

.min-width-140 {
  min-width: 140px !important;
}

.min-width-136 {
  min-width: 136px !important;
}

.min-width-130 {
  min-width: 130px !important;
}

.min-width-160 {
  min-width: 160px !important;
}

.min-width-170 {
  min-width: 170px !important;
}

.min-width-180 {
  min-width: 180px !important;
}

.min-width-300 {
  min-width: 300px !important;
}

.min-width-400 {
  min-width: 400px !important;
}

.min-width-200 {
  min-width: 200px !important;
}

.width-210px {
  min-width: 210px !important;
}

.min-width-250 {
  min-width: 250px !important;
}

.min-width-100 {
  min-width: 100px !important;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-60 {
  width: 60% !important;
}

.w-100 {
  width: 100% !important;
}

.checkbox {
  width: 100%;
  position: relative;
  display: block;

  label {
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 4px;
      width: 14px;
      height: 14px;
      // background-color:$color-white;
      transition: transform 0.28s ease;
      border-radius: 3px;
      border: 1px solid $color-red-gray;
    }

    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 5px;
      // border-bottom: 2px solid $color-white;
      // border-left: 2px solid $color-white;
      transform: rotate(-45deg) scale(0);
      transition: transform ease 0.25s;
      position: absolute;
      top: 8px;
      left: 7px;
    }
  }
}

.checkboxGrey {
  width: 100%;
  position: relative;
  display: block;

  label {
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 4px;
      width: 14px;
      height: 14px;
      // background-color:$color-dark-grey;
      transition: transform 0.28s ease;
      border-radius: 3px;
      border: 1px solid $color-red-gray;
    }

    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 5px;
      // border-bottom: 2px solid $color-white;
      // border-left: 2px solid $color-white;
      transform: rotate(-45deg) scale(0);
      transition: transform ease 0.25s;
      position: absolute;
      top: 8px;
      left: 7px;
    }
  }

  input[type="checkbox"] {
    visibility: hidden;

    &:checked~label {
      &:before {
        // border: 2px solid $color-blue-zodiac;
      }

      &:after {
        transform: rotate(-45deg) scale(1);
      }
    }

    &:focus+label::before {
      outline: 0;
    }

  }

  input[type="checkbox"]:checked+label:before {
    // background:$color-blue-zodiac;
    text-align: center;
  }
}

.checkbox {
  input[type="checkbox"] {
    visibility: hidden;

    &:checked~label {
      &:before {
        // border: 2px solid $color-blue-zodiac;
      }

      &:after {
        transform: rotate(-45deg) scale(1);
      }
    }

    &:focus+label::before {
      outline: 0;
    }

  }

  input[type="checkbox"]:checked+label:before {
    // background:$color-blue-zodiac;
    text-align: center;
  }
}

.height-28 {
  height: 28px !important;
}

.height-24 {
  height: 24px !important;
}

.sfilterarrow:after,
.sfilterarrow:before {
  left: 100%;
  top: 4%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.sfilterarrow:after {
  border-color: rgba(136, 183, 213, 0);
  // border-left-color: $color-thin-blue;
  border-width: 7px;
  margin-top: -7px;
}

.sfilterarrow:before {
  border-color: rgba(53, 245, 39, 0);
  border-left-color: rgba(0, 0, 0, 0.125);
  border-width: 8px;
  margin-top: -8px;
}

// .button-bg-mischka {
//   background: $color-mischka !important;
//   background-color: $color-mischka !important;
//   border-color: $color-mischka !important;
// }

.max-height-550 {
  max-height: 550px;
}

.max-height-450 {
  max-height: 450px;

}

.max-height-80 {
  max-height: 80px;

}

.modal-category-header {
  padding: 20px 20px 0px 20px !important;
  border-bottom: 0px !important;
}

.modal-category-header>.modal-title {
  width: 100% !important;
}

.bt-0 {
  border-top: 0px !important;
}

.bw-2 {
  border-width: 2px;
}

.bw-3 {
  border-width: 3px !important;
}

.text-grayish-blue {
  // color : $color-grayish-blue !important;
}

.columns-popover>.popover {
  min-width: 199px !important;
  border-radius: 5px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  margin-left: -50px;
}

.workorder-columns-popover>.popover {
  min-width: 199px !important;
  border-radius: 5px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  margin-left: -95px;
}

.lookupModal {
  top: 22% !important;
}

// .border-color-red-gray {
//   border-color: $color-red-gray !important;
// }

// .bg-thin-grey{
//   background-color: $color-thin-grey;
// }

.bg-input-light-blue {
  padding: 10px !important;
  height: 25px !important;
  // background-color: $color-thin-blue !important;
  font-weight: 700 !important;
}

.bg-input-blue-small {
  padding: 10px !important;
  height: 30px !important;
  background-color: $color-white !important;
  font-weight: 500 !important;
  border-radius: 5px !important;
}

.bg-input-blue-small-disabled {
  padding: 10px !important;
  height: 30px !important;
  font-weight: 500 !important;
  border-radius: 5px !important;
}

.bg-input-custom {
  padding: 10px !important;
  height: 25px !important;
  font-weight: 700 !important;
}

// .bg-color-orange{
//   background-color: $color-orange-thin !important;
// }

// .text-green{
//   color:$color-green-water !important;
// }

// .text-yellow{
//   color:$color-yellow-thin !important;
// }

// .text-blue{
//   color:$color-blue-thin !important;
// }

// .badge-torchred {
//   background: $color-torch-red;
//   color: $color-white;
// }

// .badge-lightGreen {
//   background: $color-light-green;
//   color: $color-white;
// }

// .badge-blue {
//   background: $color-blue-thin;
//   color: $color-white;
// }

// .badge-yellow {
//   background: $color-yellow-thin;
//   color: $color-white;
// }

// .text-blue-grey {
//   color
//   :$color-blue-grey;
// }
// .text-orange {
//   color:$color-label-orange;
// }
main-content-pinned {
  width: 100%;
  overflow-x: auto !important;
}

.main-content {
  margin: -2px 2px 2px 2px;
  width: 100%;
  overflow-x: hidden !important;
}

.margintop-4 {
  margin-top: 6px;
}

.col-sm-12.h-3 {
  height: 30px;
}

.btn-shadow {
  box-shadow: none !important;
}

// .analytics-bg {
//   background-color: #eaeaea57;
// }

.analytics-font {
  font-size: 12px !important;
  // color:#3a4353
}

// .text-navy-blue{
//   color: $color-navy-blue !important;
// }

.box-shadow-none {
  box-shadow: none !important;
}

.forgot-password:hover {
  // color: $color-dark-blue;
  font-weight: bold;
}

// .submitButtonColor{
//   background-color:$color-green-water;
// }
.formikErrorFont {
  font-size: 80%;
  // color: $color-label-danger;
}

.runTime-value {
  width: 200px;
  height: 40px;
}

.form-value {
  width: 195px;
  height: 100px;
}

.runTime-list {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 350px;
}

@media only screen and (max-width: 1170px) {
  .formMarginRight {
    margin-right: 15px;
  }

  .runTimeMargin {
    margin-top: 15px;
  }

  .formMargin {
    margin-left: 25px;
    margin-top: 15px;
  }
}

// .greyButton:hover{
//   background: $color-cloud-burst !important;
//   color:$color-white !important; 
// }
.cancelButton {
  padding-top: 2px;
}

.hoverColor:hover {
  color: $color-white !important;
  background-color: $color-cloud-burst !important;
  border-color: $color-cloud-burst !important;
}

// .tab_nav_link:hover{
//   color: $color-white !important;
// }
.mb-n2px {
  margin-bottom: -2px;
}

.ml-2px {
  margin-left: 2px !important;
}

.login-close-button {
  margin-right: 10px;
  margin-top: -37px;
  font-size: 14px;
}

.font-11px {
  font-size: 11px !important;
}

@media only screen and (max-width: 1200px) {
  .font-10px {
    font-size: 10px !important;
  }
}

.display-block {
  display: block !important;
}

.nodata-main-image {
  position: relative !important;
}

.nodata-image1 {
  position: relative !important;
  width: 196px;
}

.nodata-image2 {
  position: absolute;
  width: 82px;
  margin-left: -9rem !important;
  margin-bottom: 2rem;
  bottom: 20px;
}

.nodata-dashboard-image2 {
  position: absolute;
  width: 82px;
  margin-left: -2rem !important;
  margin-bottom: 2rem;
  bottom: 20px;
}

.nodata-image3 {
  width: 110px;
  margin-left: -9.5rem;
  position: absolute;
  margin-top: 3.5rem;
}

.error-message {
  margin-left: -12rem;
  position: absolute;
  margin-top: 3.5rem;
}

.dashboard-error-message-small {
  margin-left: -5rem;
  position: absolute;
  margin-top: 1.5rem;
}



.error-message-small {
  margin-left: -11rem;
  position: absolute;
  font-weight: 800;
  margin-top: 3.5rem;
}

.filter-margin-left {
  margin-left: -47px;
}

.filter-margin-right {
  margin-right: -55px;
}

.negative-margin-left-15px {
  margin-left: -8px;
}

.height-50px {
  height: 50px;
}

// .MuiCheckbox-colorSecondary.Mui-checked{
//   color: $color-blue-zodiac !important;
// }
.collapse-margin-left {
  position: absolute;
  left: 26px;
}

.filter-margin-left-align {
  position: relative;
  left: 4%;
}

.collapse-margin-left-align {
  position: absolute;
  left: 60%;
}

@media only screen and (max-width: 1024px) {
  .collapse-margin-left {
    position: absolute !important;
    left: 100px !important;
  }
}

@media only screen and (max-width: 782px) {
  .collapse-margin-left {
    position: absolute !important;
    left: 80px !important;
  }
}

@media only screen and (max-width: 1178px) {
  .collapse-margin-left {
    position: absolute;
    left: 20px;
  }
}

@media only screen and (min-width: 1500px) {
  .collapse-margin-left {
    position: absolute;
    left: 40px;
  }

  .collapse-margin-left-align {
    position: absolute;
    left: 72%;
  }
}

.collapse-icon-margin-left {
  position: absolute;
  left: 30px;
}

@media only screen and (max-width: 1024px) {
  .collapse-icon-margin-left {
    position: absolute !important;
    left: 110px !important;
  }
}

@media only screen and (max-width: 782px) {
  .collapse-icon-margin-left {
    position: absolute !important;
    left: 90px !important;
  }
}

@media only screen and (max-width: 1178px) {
  .collapse-icon-margin-left {
    position: absolute;
    left: 20px;
  }
}

@media only screen and (min-width: 1500px) {
  .collapse-icon-margin-left {
    position: absolute;
    left: 40px;
  }
}

@media only screen and (min-width: 1178px) {
  .filter-left {
    position: absolute;
    left: -2px
  }
}

@media only screen and (min-width: 904px) {
  .filter-left {
    position: absolute;
    left: -22px;
  }
}

.insights-add-icon {
  // background-color: $color-navy-blue;
  // border: $color-navy-blue;
  border-radius: 30px;
  width: 120px;
  padding: 0.25rem;
}

.insights-add-icon:hover {
  // background-color: $color-navy-blue;
  // border: $color-navy-blue;
  border-radius: 30px;
  width: 120px;
  padding: 0.25rem;
}

.product-form-table {
  margin-top: 0px;
  line-height: 0px;
}

.form-helpertext {
  max-width: 400px;
}

.width-150px {
  width: 150px !important;
}

.margin-negative-left-120px {
  margin-left: -120px;
}

.margin-negative-right-55px {
  margin-right: -55px;
}

.margin-negative-left-90px {
  margin-left: -90px;
}

.margin-negative-left-30px {
  margin-left: -30px;
}

.margin-negative-left-50px {
  margin-left: -50px;
}

.margin-negative-left-155px {
  margin-left: -155px;
}

.margin-negative-right-50px {
  margin-right: -50px;
}

.margin-negative-right-27px {
  margin-right: -27px;
}

.font-size-10px {
  font-size: 10px !important;
}

.search-popover .popover .arrow {
  display: none;
}

.search-popover .popover {
  margin-top: 0px !important;
  width: 350px !important;
  max-height: 300px !important;
  overflow-x: hidden;
  overflow-y: auto
}

.search-width-popover .popover .arrow {
  display: none;
}

.search-width-popover .popover {
  margin-top: 2px !important;
  width: 350px !important;
  max-height: 300px !important;
  overflow-x: hidden;
  overflow-y: auto
}

.insights-search-icon {
  float: left;
  margin-left: 12px;
  margin-top: -21px;
  position: relative;
  z-index: 2;
}

.padding-left-30px {
  padding-left: 30px;
}

.insights-nav-link {
  display: block;
  padding: 0.2rem 1rem;
}

.insights-nav-link-active {
  display: block;
  padding: 0.2rem 1rem;
  // color: #212529;
}

.audits-list {
  max-height: 620px;
  overflow-y: auto;
  overflow-x: hidden;
}

.drawer-list {
  max-height: 92% !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.products-list {
  overflow-x: auto;
}

.powerbi-report-width {
  width: 100%;
}

.cookie-modal {
  top: 56%;
}

.cookie-bottom-right {
  right: 85px;
}

.drawer-height {
  height: 100%;
}

.cursor-default {
  cursor: default;
}

.position-absolute {
  position: absolute;
}

// need to move to theming files

.checkbox label:before {
  border: 1px solid $color-red-gray !important;
  background-color: $color-white !important;
}

// .checkbox input[type="checkbox"]:checked + label:before {
//   background-color: $color-cloud-burst !important;
// }
.filter-popover {
  max-height: 300px !important;
  overflow-y: auto;
}

.common-table {
  td-border {
    width: 15% !important;
    padding: 15px;
  }

  .input-search {
    border: none;
    background-color: $color-grey-light;
  }

  .pagination-input {
    height: 35;
    width: 66px;
    background-color: $color-grey-light;
    float: left;
    padding: 8px 8px;
    border-collapse: collapse;
  }

  .pagination {
    display: inline-block;
  }

  .pagination button {
    width: 36px;
    border: solid $color-white;
    border-width: 0 10px;
    border-radius: 0;
    background-color: $color-white;
    float: left;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 22px;
  }

  .pagination span {
    align-content: space-around;
    align-self: center;
    padding: 8px 8px;
    text-align: center;
  }

  .pagination select {
    align-content: space-around;
    align-self: center;
    height: 35px;
    width: 66px;
    background-color: $color-grey-light;
    float: left;
    padding: 8px 8px;
    border-collapse: collapse;
  }

  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid $color-pattens-blue
  }

  //   .btn.btn-secondary {
  //     background-color: $color-light-blue;
  //     color: $color-blue-zodiac ;
  // }
  // .btn.btn-secondary:hover {
  //   background-color: $color-light-blue;
  //   color: $color-blue-zodiac ;
  // }
}

.MuiDataGrid-columnHeadersInner {
  background-color: $color-grey-light;

}

.ant-popover-content {
  max-height: 300px !important;
  overflow-y: scroll;
}

.form-check-input {
  position: unset;
}

// ==================================================================================
.cursor-pointer {
  cursor: pointer;
}

.top-50 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.redirect-button {
  position: absolute;
  font-size: 10px;
  width: 800px;
  top: 70%;
  left: 40%;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  margin-right: 20px;
  padding: 5px;
}

.opacity-9 {
  opacity: 0.9;
}

.p-login {
  padding: 0.5rem 1.5rem;
}

.login-close-button {
  margin-right: 10px;
  margin-top: -37px;
  font-size: 14px;
}

.text-underlined {
  text-decoration: underline;
}

.roundCorners {
  border-radius: 1.5rem;
}

.noBorder {
  border: none !important;
}

.border-radius-50 {
  border-radius: 50%;
}

.border-radius-50px {
  border-radius: 50px;
}

.border-radius-2px {
  border-radius: 2px;
}

.font-family-lato {
  font-family: "Lato" !important;
}

.btn-outline-secondary {
  font-weight: 700;
}

.tree-floor-btn:focus,
.tree-floor-btn.focus {
  box-shadow: none;
}

.btn-outline-secondary-white {
  font-weight: 700;
}

.btn-secondary {
  font-weight: 600;
}

.btn-secondary:not(:disabled):not(.disabled),
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

#bookingButton {
  .btn-group-sm>.btn {
    padding: 0.16rem 0.5rem !important;
  }
}

.defaultDropDown {
  border-radius: 1.5rem;
  padding: 0.1rem 0.75rem;
}

.whiteDropDown {
  border-radius: 1.5rem;
  padding: 0.1rem 0.75rem;
  font-weight: 600 !important;
  font-size: 13px;
}

.btn-red {
  font-weight: 600;
}

.btn-red:active {
  font-weight: 600;
}

.btn-red:hover {
  font-weight: 600;
}

.btn-red:focus {
  font-weight: 600;
}

.cursor-disabled {
  cursor: not-allowed;
}

.signup-btn {
  position: relative;
  left: 245px;
}

.top-30 {
  top: 30%;
}

.fallBackLoader {
  height: 6rem;
  width: 6rem;
}

.cursor-auto {
  cursor: auto;
}

.dashboardTileHeight {
  min-height: 400px;

  @media only screen and (max-width:768px) {
    min-height: auto;
  }
}

.dashboardBottomTileHeight {
  min-height: 385px;
}

.font-weight-100 {
  font-weight: 100 !important;
}

.width-98 {
  width: 98% !important;
}

.treeViewHeight {
  max-height: 584px;
  overflow-y: auto;
}

.selectedSapceHeight {
  max-height: 600px;
  overflow-y: auto;
}

#slimScroll {

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
}

.btnWhisper {
  border: none !important;
  font-weight: 700;
}

.btnWhisper:not(:disabled):not(.disabled),
.btnWhisper:not(:disabled):not(.disabled),
.show>.btnWhisper.dropdown-toggle {
  box-shadow: none !important;
}

.font-size-20px {
  font-size: 20px;
}

.bismark2Dropdown {
  border-radius: 1.5rem;
  padding: 0.1rem 0.75rem;
}

.border-r-3 {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.bismark2Dropdown:focus {
  outline: none;
  box-shadow: none;
}

.buttonBismark2:focus {
  outline: none;
  box-shadow: none;
}

.buttonBismark2 {
  font-weight: 600;
}

.font-size-30px {
  font-size: 30px !important;
}

.user-circle {
  border: solid;
  border-width: 2px;
  padding: 1px;
}

#onesignal-bell-container.onesignal-reset .onesignal-bell-launcher .onesignal-bell-launcher-button {
  bottom: 35px !important;
}

#onesignal-bell-container.onesignal-reset .onesignal-bell-launcher .onesignal-bell-launcher-message {
  top: 0% !important;
}

.mt-n5rem {
  margin-top: -5rem !important;
}

.mr-n6rem {
  margin-right: -6rem;
}

.font-11 {
  font-size: 11px !important;
}

.header {
  position: sticky;
  top: 0;
}

.header-user-image {
  height: 45px;
  width: 45px;
}

.letter-spacing2 {
  letter-spacing: 0.2px;
}

span.sort-by:before,
span.sort-by:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}

span.sort-by:before {
  margin-top: -9px;
}

span.sort-by:after {
  margin-top: 1px;
}

.font-size-1-3rem {
  font-size: 1.3125rem !important;
}

.font-size-0595rem {
  font-size: 0.595rem;
}

.bt-0 {
  border-top: 0px !important;
}

.font-size-0875rem {
  font-size: 0.875rem !important;
}

.table-responsive::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

/* Track */
.table-responsive::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px $color-gray;
  border-radius: 5px;
}

/* Handle */
.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.modal-justify-header>.modal-title {
  width: 100% !important;
  font-size: unset !important;
}

.modal-justify-header {
  padding: 20px !important;
  border-bottom: 0px !important;
}

.font-size-109375rem {
  font-size: 1.09375rem;
}

.user-profile-circle {
  border-radius: 50%;
  padding: 3px;
}

.mt-n8 {
  margin-top: -8rem !important;
}

.user-profile {
  .nav-link-item {
    font-weight: 500 !important;
    font-size: 18px;
  }

  .nav-link-item.active {
    font-weight: 800 !important;
    font-size: 18px;
  }
}

.font-size-153125rem {
  font-size: 1.53125rem;
}

.modal-category-header {
  padding: 20px 20px 0px 20px !important;
  border-bottom: 0px !important;
}

.modal-category-header>.modal-title {
  width: 100% !important;
}

.height-100 {
  height: 100vh;
}

.analytics-font {
  font-size: 1.9em !important;

  @media only screen and (max-width: 768px) {
    font-size: 1.4225em !important;
  }
}

.breadcrumb-nav {
  .analytics-font {
    font-size: 0.8em !important;
  }
}

.forgot-password:hover {
  color: $color-dark-blue;
  font-weight: bold;
}

.p-12 {
  padding: 12px !important;
}

.bookingPopover {
  max-height: 250px;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

.mb-n2px {
  margin-bottom: -2px;
}

.tooltipBorder {
  border-color: $color-white;
}

.bookingSummary {
  max-height: 450px;
  overflow-y: auto;
}

.confirmWindowHeight {
  max-height: 320px !important;
}

.margin-negative-left-50px {
  margin-left: -50px;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.h-400 {
  height: 400px;
}

.ant-picker-suffix {
  margin-right: 18px !important;
}

.ant-picker-range {
  width: 250px;

  @media only screen and (max-width: 992px) {
    width: 100%;
  }
}
.light-mode .ant-picker-range{
  background-color: #1E1F1E ;
}

.search-icon {
  float: right;
  margin-right: 7px;
  margin-top: -21px;
  position: relative;
  z-index: 2;
  padding-right: 2px;
}

.font-medium {
  font-size: 1.2em;
}

.page-actions-header {
  display: flex;
}

.maintenance {

  .nodata-main-image,
  .loader {
    position: absolute !important;
    margin-left: 350px;
  }

  .errBody {
    height: 140px;
  }
}

.main-content {
  margin: -2px 2px 2px 2px;
  width: 100%;
  overflow-x: hidden !important;
  min-height: 100vh;
}

.nodata-main-image {
  position: relative !important;
}

.errBody {
  height: 140px;
}

.nodata-image1 {
  position: relative !important;
  width: 196px;
}


.nodata-image3 {
  width: 110px;
  margin-left: -9.5rem;
  position: absolute;
  margin-top: 3.5rem;
}

.error-message-small {
  margin-left: -11rem;
  position: absolute;
  font-weight: 800;
  margin-top: 3.5rem;
}

.greeting-text {
  word-wrap: break-word;
}

.font-size-17px {
  font-size: 17px;
}

.font-size-13px {
  font-size: 13px;
}

.font-size-12px {
  font-size: 12px;

}

.powerbi-report-width {
  width: 100%;
}

/** Respnsive styles **/

.heading-text {
  font-size: 2.4225em;

  @media only screen and (max-width: 768px) {
    font-size: 1.4225em;

  }

  // @media only screen and (max-width: 992px) {...}
  // @media only screen and (max-width: 1200px) {...}
}

.adminMaintenance {
  .maintenance-nav {
    @media only screen and (max-width: 768px) {
      float: right;
    }

    .nav-item {
      margin: 0 4px;

      .navbar-link {
        font-size: 1.2em;

        @media only screen and (max-width: 992px) {
          font-size: 0.8em;
        }

        img {
          @media only screen and (max-width: 768px) {
            //  display: none;
          }
        }

      }
    }
  }

  .checkbox {
    label {
      span {
        left: 25px;
      }
    }

  }

  .maintenance-info {
    .maintenance-left {
      @media (min-device-width:992px) and (max-device-width:1300px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .dateRange-picker {
        @media (min-device-width:992px) and (max-device-width:1300px) {
          padding: 0;
        }
      }
    }

    .maintenance-right {
      @media (min-device-width:992px) and (max-device-width:1300px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}

@media (min-device-width:769px) and (max-device-width:1024px) {
  // your code
}

.mr-n11rem {
  margin-right: -11rem;
}

// sync fusion code ------------------

.e-hide {
  display: none;
}

.e-headertext {
  font-weight: bold;
  font-size: 14px;
}

.e-row {
  font-weight: bolder;
}

.e-filtertext,
.e-input {
  outline: none;
  border: none;
}

.e-headercell,
.e-leftalign,
.e-mousepointer,
.e-filterbarcell {
  outline: none;
}

.e-content {
  scroll-behavior: none;
}

.e-icons {
  display: none;
}

.e-tooltip-wrap {
  border-radius: 2px;
}

.e-tooltip-wrap.e-popup {
  border-radius: 3px;
}

.e-rowcell:hover {
  cursor: pointer;
}

.btn-remove {
  height: 25px;
  width: 35px;
  border-radius: 2px;
}

#filterBtn {
  padding: 10px !important;
}

.inputForm {
  margin: auto;
}

.popupBtn {
  padding: 10px !important;
}

.e-parentmsgbar {
  display: none !important;
}

.e-gridpager,
.e-pager {
  border: none !important;
}

.e-pagerconstant {
  margin: 0px 0px 4px 12px !important;
}

.pointer-events-none {
  pointer-events: none;
}

/* width */
.thin-spacelist::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.thin-spacelist::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #707070;
  border-radius: 5px;
}

/* Handle */
.thin-spacelist::-webkit-scrollbar-thumb {
  background: #9da2ab;
  border-radius: 5px;
}

/* Handle on hover */
.thin-spacelist::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

.thin-spacelist {
  overflow-y: scroll;
  height: 150px;
}

.MuiGrid-root.MuiGrid-item {
  font-size: 12px;
}

.my-bookings .fc .fc-daygrid-day-frame {
  height: 150px;
  overflow-x: auto;
}

.fc-scroller::-webkit-scrollbar {
  width: 6px;
  overflow: auto;
}

.fc-scroller::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.fc-daygrid-day-frame::-webkit-scrollbar {
  width: 6px;
}

.fc-daygrid-day-frame::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.detailview-drawer {
  padding-left: 11px !important;
  padding-right: 11px !important;
}


.min-width-100per {
  width: 130px !important;
}

.custom-close-button {
  margin-right: 10px;
  margin-top: -25px;
  font-size: 14px;
}

.main-content-zoom {
  margin: -2px 2px 2px 2px;
  width: 100%;
  overflow-x: hidden !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

  .main-content-zoom {
    margin: -2px 2px 2px 2px;
    width: 100%;
    overflow-x: hidden !important;
    zoom: 1.3;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    transform-origin: 0 0;
  }

}

@media only screen and (min-width: 1366px) and (max-width: 1500px) {

  .main-content-zoom {
    margin: -2px 2px 2px 2px;
    width: 100%;
    overflow-x: hidden !important;
    zoom: 1.5;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    transform-origin: 0 0;
  }

}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {

  .main-content-zoom {
    margin: -2px 2px 2px 2px;
    width: 100%;
    overflow-x: hidden !important;
    zoom: 1.7;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    transform-origin: 0 0;
  }

}

@media only screen and (min-width: 1700px) and (max-width: 1920px) {

  .main-content-zoom {
    margin: -2px 2px 2px 2px;
    width: 100%;
    overflow-x: hidden !important;
    zoom: 1.8;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    transform-origin: 0 0;
  }

}

@media only screen and (min-width: 1920px) and (max-width: 2500px) {

  .main-content-zoom {
    margin: -2px 2px 2px 2px;
    width: 100%;
    overflow-x: hidden !important;
    zoom: 2;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    transform-origin: 0 0;
  }

}

@media only screen and (min-width: 2500px) {

  .main-content-zoom {
    margin: -2px 2px 2px 2px;
    width: 100%;
    overflow-x: hidden !important;
    zoom: 2.7;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    transform: scale(1);
    transform-origin: 0 0;
  }

}

.foldText {
  min-width: 300px;
  max-width: 400px;
  word-break: break-word;
  white-space: pre-line;
}

.ant-image-preview-wrap {
  backdrop-filter: blur(2px);
}